@import "../../vars.css";

.container {
  color: white;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  gap: 2%;
  padding: 110px 94px;
  padding-right: 170px;
  padding-top: 70px;
  padding-top: 95px;
  padding-bottom: 0px;
}

/* .leftContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
} */

.leftContainer img {
  width: 36vw;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 10px;
}

.rightContainer h3 {
  font-size: var(--font-size-medium);
  color: #45cac0;
}

.rightContainer h1 {
  font-size: var(--font-size-large);
}

.rightContainer h1 span {
  color: #45cac0;
}

.rightContainer hr {
  width: 18%;
  background-color: #45cac0;
  border: none;
  height: 2px; /* Set thickness */
}

.rightContainer p {
  font-size: var(--font-size-small);
  width: 43vw;
  color: #a0a1a1;
}

.features {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 20px;
}

.feature {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.featureHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.featureHeader h3 {
  font-size: 20px;
  color: #45cac0;
  margin: 0;
}

.featureContent p {
  font-size: var(--font-size-small);
  color: #a0a1a1;
  margin: 0;
  width: 100%;
}

.additionalInfo {
  display: flex;
  flex-direction: row;
  gap: 175px;
  color: white;
  width: 60vw;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.infoBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
}

.infoBox .infoContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.infoBox .infoContent img {
  width: 81px;
}

.infoBox .infoContent h1 {
  color: var(--text-secondary);
  font-size: 21px;
}

.infoCount{
  font-size: 46px;
  color: var(--color-secondary);
  font-weight: bolder;
}