:root{
    --color-primary: #21948A;
    --color-secondary: #288279;
    --text-primary: white;
    --text-secondary: #A0A1A1;
    --font-size-large: 81px;
    --font-size-medium: 18px;
    --font-size-small: 16px;
}